# 忽略所有名为 output 的文件夹（包括其内容）
output/

.cache/

.vscode/

cmake-build-debug/

CMakeLists.txt

.idea/

backup/

analytics.md

build/

build_server/

.gitignore

logs/

*.o

*.a

*.so

*.lib
.clangd

.git/

*.sh

logex

